<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles/login.css">

<body>
<div class="container">
<div class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3 >Create User</h3>
    </div>
    <div class="card-body">
      <form ng-submit = "createUser(username,password, name)">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" ng-model="name" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" ng-model="username" class="form-control" placeholder="username" required>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="text" ng-model="password" class="form-control" placeholder="password" required>
        </div>

        <div class="form-group">
          <input type="submit" value="Submit" class="btn float-right login_btn">
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</body>
